@import 'reset.css';
@import 'fonts.css';

:root {
  font-family: Inter, sans-serif;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.05px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  padding: 1rem 0;
  display: grid;
  place-items: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media only print {
  :root {
    color-scheme: dark light;
    color: #000;
    background-color: #fff;
  }

  a {
    text-decoration: none!important;
    color: inherit;
  }

  .hide-print {
    display: none;
  }
}